<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="CONSOLE_PATTERN" value="%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{requestId} | %X{httpMethod} | %X{requestURL}] - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.security" level="DEBUG"/>
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>